.foods_menu_top {
  width: 80%;
  margin: 1rem auto 0 auto;
  border-radius: 4px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}
.food_menu_title {
  border: none;
}
.food_search {
  padding: 0.6rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  width: 100%;
}
.food_search:focus {
  box-shadow: 0 0 6px rgb(212, 82, 82);
}

.notification_box {
  flex-direction: column;
  min-height: 80vh;
  justify-content: flex-start;
}

.notification {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .foods_menu_top {
    width: 95%;
    padding: 1rem;
  }
  .food_menu_title {
    font-size: 26px;
  }
  .notification {
    width: 100%;
  }
}
